name: go tests for 2024
on:
  push:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.5'
        cache: false
    - name: Build 2024 day04
      working-directory: ./2024/cmd/day04
      run: go build
    - name: Test 2024
      working-directory: ./2024
      run: go test -v ./day*
    - name: Test 2025
      working-directory: ./2025
      run: go test -v ./internal/day*
